#movingBallG{
	position:relative;
	width:250px;
	height:19px;
}

#load_msg{
    position: absolute;
    top: 0px;
}

.movingBallLineG{
	position:absolute;
	left:0px;
	top:28px;
	height:4px;
	width:250px;
	background-color:rgb(0,0,0);
}

.movingBallG{
	background-color:rgb(0,0,0);
	position:absolute;
	top:20px;
	left:0;
	width:19px;
	height:19px;
	border-radius:10px;
	animation-name:bounce_movingBallG;
	animation-duration:1.5s;
	animation-iteration-count:infinite;
	animation-direction:normal;
}



@keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:230px;
	}

	100%{
		left:0px;
	}
}

