
html, body{
 height: 100%;
}

body{
  font-family: monospace;
  font-size: 14px;
  height: 2500px;
}

#container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#content{
  display:block;
}

#cursor{
  position: absolute;
  border: 1px solid #ccc;
  overflow: hidden;
  user-select: none;
}
#tool{
  position: absolute;
  border: 1px solid #eee;
  overflow: hidden;
  cursor: crosshair;
  user-select: none;
}


#svg_with_grip{
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #ccc;
}

#svgeditor{
  position: relative;
  overflow: hidden;
}

#grip{
  height: 100%;
  width:10px;
  background-color: #777;
  z-index: 3000;
  cursor: ew-resize;
}

#text_group{
  position: relative;
  display: block;
  z-index:4000;
}

#texteditor{
  font-family: monospace;
  font-size: 14px;
  white-space: pre;
  word-wrap: normal;
  resize: none;
}

#cursor .cursor_cells{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  z-index: 2000; /* in front of xray cells */
}

#cursor .cursor_cells div {
  position: relative;
  text-align: center;
}

.focus_char{
  background-color: #ccc;
  animation: blinker 1s linear infinite;
}

#tool .xray_cells{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  user-select: none;
  z-index: 1000;
}

#tool .xray_cells div {
  position: relative;
  text-align: center;
  user-select: none;
}

.hide{
  visibility: hidden;
}



@keyframes blinker {  
  50% { opacity: 0; }
}

#controls{
  margin-top: 50px;
  margin-bottom: 200px;
  width: 100%;
  text-align: right;
}
#controls button{
  height: 40px;
  width: 120px;
}
