body {
    overflow: hidden;
    font-family: arial;
}

.full_size{
   --texteditor-top: 0;
   --texteditor-width: 50%;
   --grip-left: 50%;
   --grip-width: 0.5%;
   --render-top: 0;
   --render-left: 50.5%;
   --render-width: 49.5%;
   --control-display: none;
   --texteditor-visibility: visible;
   --render-visibility: visible;
}

.full_card{
   --texteditor-top: 30px;
   --texteditor-width: 100%;
   --grip-left: 0;
   --grip-width: 0;
   --render-top: var(--texteditor-top);
   --render-left: 0%;
   --render-width: 100%;
   --control-display: flex;
   --texteditor-visibility: visible;
   --render-visibility: hidden;
}

.condensed_size{
   --texteditor-top: 30px;
   --texteditor-width: 100%;
   --grip-left: 0;
   --grip-width: 0;
   --render-top: var(--texteditor-top);
   --render-left: 0;
   --render-width: 100%;
   --control-display: flex;
   --texteditor-visibility: visible;
   --render-visibility: hidden;
}

#texteditor { 
    position: absolute;
    margin: 0;
    top: var(--texteditor-top);
    bottom: 20px;
    left: 0;
    width: var(--texteditor-width);
    visibility: var(--texteditor--visibility);
}

#keybinding-controls{
    position: absolute;
    display: inline;
    bottom: 0;
    left: 0;
    height: 20px;
    font-size: 11px;
    color: #aaa;
}
#keybinding-controls input{
    margin-left: 10px;
}

#keybinding-controls input:checked{
    color: #333;
}

#keybinding-controls label{
    margin-left: 10px;
}

#grip{
    position: absolute;
    top: 0;
    left: var(--grip-left);
    width: var(--grip-width);
    bottom: 0;
    background-color: #ebebeb;
    cursor: ew-resize;
    visibility: var(--render-visibility);
}

#print-toolbar{
    position: absolute;
    top: 5px;
    right: 10px;
    height: 20px;
    color: #aaa;
}

#render {
    position: absolute;
    top:var(--render-top);
    left: var(--render-left);
    width: var(--render-width);
    bottom: 0;
    right: 0;
    overflow: auto;
    visibility: var(--render-visibility);
}

#controls {
    display: var(--control-display);
    justify-content: flex-start;
    margin-bottom: -1px;
    padding-left: 50px;
    background-color: #ebebeb;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
}

#controls button {
    border-radius: 3px 3px 0 0;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    user-select: none;
    outline: 0;
    border: 1px solid rgba(0,0,0,0);
    color: #000;
    background-color: #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

#controls #open_btn{
    color: #aaa;
}

#controls button.selected {
    background-color: #f9f9f9;
}

pre code {
    border-radius: 5px;
}


#processing-indicator{
    position: absolute;
    display: block;
    bottom: 0;
    left: 300px;
    height: 20px;
}
.cssload-container {
	width: 100%;
	height: 15px;
	text-align: center;
}
.cssload-speeding-wheel {
	width: 15px;
	height: 15px;
	margin: 0 auto;
	border: 2px solid rgb(0,0,0);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 1475ms infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}
