
body{
    font-family: monospace;
    font-size: 14px;
}

.line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}

.cell {
    width: 8px;
    height: 16px;
    flex: none;
}

/*
.tool-content .cell{
    border-right: 1px solid green;
}

.tool-content .line{
    border-bottom: 1px solid blue;
}
*/

.charwidth2{
    width: 16px!important;
}


.focused {
    background-color: #333;
    animation: blinker 0.5s linear infinite;
}

/* style for the cell hovered by the mouse */
.hovered {
    /*background-color: #680;
    animation: blinker 0.5s linear infinite;
    */
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

textarea{
    top:0px;
    position:sticky;
    position: -webkit-sticky;
    white-space: pre;
    word-wrap: normal;
    font-family: monospace;
    font-size: 14px;
    line-height: 16px;
    width:0;
    height:0;
    resize: none;
}

.mn-editor{
    cursor: crosshair;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* use for covering the cell lines, in order to get offset_x and offset_y accurate to the mn-editor
 * needs to be infront of all the overlays
 * */
.cells-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

/* overlay for tool when user starts dragging mouse */
.tool-overlay{
    background-color: #88f;
    border: 2px solid blue;
    opacity: 0.2;
    position: absolute;
}

.tool-content{
    /*background-color: #f88;*/
    border: 0px solid red;
    opacity: 0.8;
    position: absolute;
}

.tool-content-cells{
    position: relative;
}
