
.form{
    display:flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
}

.backgrounds{
    display:flex;
    flex-direction:row;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_and_svg{
    display: flex;
    flex-direction: row;
}

.svg_and_download{
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'sf';
    src: url('sf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'duck_shipah';
    src: url('duck_shipah.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
